:root {
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --height: 449vh;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

#tiles-container {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
  /* background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0)); */
  background-size: 200%;
  position: absolute;
  width: 100%;
  height: var(--height);
  overflow: hidden;
  z-index: 0;
}

#tiles {
  height: calc(var(--height) - 1px);
  width: calc(var(--height) - 1px);
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}
.tile {
  /* outline: 1px solid rgb(20, 20, 20); */
}
