#skills img {
  /* width: 150px;
  height: 150px; */
  width: 100%;
  filter: drop-shadow(5px 5px 5px black);
}
#skills img:hover {
  transform: scale(107%);
}

#skills {
  overflow-x: hidden;
}

.skills-caro {
  display: flex;
  width: 200%;
}
.skills-caro div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills-top {
  animation: bannermove 20s linear infinite;
}
#skills-bot {
  animation: bannermovereverse 20s linear infinite;
}

#skills-top.paused,
#skills-bot.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#skills ul {
  display: flex;
  list-style-type: none;
  /* Space between skill logos */
  gap: 50px;
}
#skills li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animation */
@keyframes bannermove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes bannermovereverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Tooltip */
.tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -30px;
}

#skills li:hover .tooltiptext {
  visibility: visible;
  user-select: none;
}
