:root {
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* Scrollbar */
body::-webkit-scrollbar {
  display: none;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background {
  /* animation: background-pan 10s linear infinite; */
  /* background: linear-gradient(to right, var(--g1), var(--g2), var(--g1)); */
  /* background-size: 200%; */
  /* background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0)); */
  background: linear-gradient(
    -45deg,
    #ffffff,
    #ffe4e9,
    #fcc8e2,
    #f6baed,
    #efb0ff,
    #d3a2ff,
    #8eb8ff,
    #91efff,
    #d5f9ff
  );
  background-size: 400% 400%;
  animation: gradient 9s ease infinite;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.container {
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  padding: 0px;
  position: relative;
  z-index: 1;
}

/* Sections */
.section-main {
  min-height: 100vh;
}

.section-minor {
  min-height: 20vh;
  background-color: #1e1c1e;
}

/* Hero */
#hero {
  display: grid;
  place-items: center;
}

/* Projects */
.project-card {
  border: 3px solid black;
  border-radius: 10px;
  height: max(40vh, 300px);
}

#project-1 {
  background-image: url("../assets/project-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

/* General */

/* Padding */

/* Buttons */
.dark-btn {
  border: 2px solid black;
  width: 150px;
}

.dark-btn:hover {
  background-color: white;
  color: black;
}

.light-btn {
  border: 2px solid black;
  width: 150px;
}
.light-btn:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}

/* Border Radius */
.border-radius-10 {
  border-radius: 10px;
}
.border-radius-20 {
  border-radius: 20px;
}
.border-radius-bot-20 {
  border-radius: 0 0 20px 20px;
}

/* Font Sizes */
.font-responsive-lg {
  font-size: max(6vw, 50px);
}
.font-responsive-md {
  font-size: max(2vw, 20px);
}
.font-responsive-sm {
  /* font-size: max(1vw, 20px); */
  font-size: calc(15px + 0.390625vw);
}

/* Background Color */
.bg-blue-to-pink {
  background: rgb(255, 0, 215);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 215, 1) 0%,
    rgba(0, 211, 255, 1) 0%,
    rgba(255, 0, 246, 1) 100%
  );
}

.bg-blue-to-blue {
  background: rgb(0, 104, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 104, 255, 1) 0%,
    rgba(50, 175, 255, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
}

.bg-blue {
  background-color: cornflowerblue;
}

/* Border */
.border-right {
  border-right: 1px solid lightskyblue;
}

/* TODO: ORGANIZE NEW STYLES */

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

#down-arrow {
  animation: floating 2s ease-in-out infinite;
  cursor: pointer;
}
#down-arrow:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.skill-list > p:hover {
  cursor: default;
  color: black;
  background-color: lightsteelblue;
}

.clickable-icon {
  cursor: pointer;
}
