:root {
  /* TODO: Set primary and accent colors */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* Scrollbar */
body::-webkit-scrollbar {
  display: none;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background {
  background-color: #9688e0;
  /* #88A6E0 */
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.container {
  background-color: #faf9f6;
  border: 3px solid black;
  border-top: none;
  border-bottom: none;
  box-shadow: lightskyblue 0px 0px 50px 50px;
  width: 100%;
  padding: 0px;
}

/* Sections */
.section-main {
  min-height: 100vh;
}

.section-minor {
  min-height: 20vh;
  background-color: #1e1c1e;
}

/* Hero */
#hero {
  display: grid;
  place-items: center;
}

/* General */

/* Padding */

/* Buttons */
.dark-btn {
  border: 2px solid black;
  background-color: #7260d5;
  width: 150px;
}

.dark-btn:hover {
  background-color: lightskyblue;
  color: black;
}

.light-btn {
  border: 2px solid black;
  background-color: #faf9f6;
  width: 150px;
}
.light-btn:hover {
  background-color: lightskyblue;
  color: black;
  border: 2px solid black;
}

/* Border Radius */
.border-radius-10 {
  border-radius: 10px;
}
.border-radius-20 {
  border-radius: 20px;
}
.border-radius-bot-20 {
  border-radius: 0 0 20px 20px;
}

/* Font Sizes */
.font-responsive-lg {
  font-size: max(6vw, 50px);
}
.font-responsive-md {
  font-size: max(2vw, 20px);
}
.font-responsive-sm {
  /* font-size: max(1vw, 20px); */
  font-size: calc(16px + 0.390625vw);
}

/* Background Color */
.bg-blue-to-pink {
  background: rgb(255, 0, 215);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 215, 1) 0%,
    rgba(0, 211, 255, 1) 0%,
    rgba(255, 0, 246, 1) 100%
  );
}

.bg-blue-to-blue {
  background: #9688e0;
  background: linear-gradient(90deg, #9688e0 0%, #6e63ac 100%);
}
.bg-blue-to-blue-rev {
  background: #9688e0;
  background: linear-gradient(90deg, #6e63ac 0%, #9688e0 100%);
}

.bg-accent {
  /* background-color: cornflowerblue; */
  background-color: #9688e0;
}
.bg-accent-dark {
  background-color: #6e63ac;
}

/* Border */
.border-right {
  border-right: 1px solid lightskyblue;
}

/* TODO: ORGANIZE NEW STYLES */

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

#down-arrow {
  animation: floating 2s ease-in-out infinite;
  cursor: pointer;
}
#down-arrow:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.skill-list > p:hover {
  cursor: default;
  color: black;
  background-color: lightsteelblue;
}

.clickable-icon {
  cursor: pointer;
}
.clickable-icon:hover {
  color: lightskyblue;
}
